/* template 1 */
.template1-parent{
    color:rgba(0, 0, 0, 0.629)!important;
    padding: 20px;
    
}

.template1-parent h1{
    color:rgba(0, 0, 0, 0.629)!important;
    font-size: 40px;
}
.template1-parent p{
    color:rgba(0, 0, 0, 0.629)!important;
    padding-top: 0 !important;
    margin-bottom:0 !important;
    margin-top: 2px !important;
    font-size: 16px !important;
 }
 .template1-parent h3{
    font-size: 22px;
    font-weight: bold;
}
.template1-parent h6{
    margin: 0 !important;
    padding: 0 !important;
    color:rgba(0, 0, 0, 0.629)!important;
}
.print{
    background-color: #f57359;
    padding: 5px;
    width: 7%;
}
.backBtn{
    background-color: #51bfa6;
    padding: 5px;
    width: 7%;
}